@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset padrão para todos os elementos */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Definição de variáveis de cores e fontes */
:root {
  --navajo-white: rgba(254, 223, 179, 1);
  --pakistan-green: rgba(40, 54, 24, 1);
  --penn-red: rgba(152, 5, 0, 1);
  --ivory: rgba(244, 249, 233, 1);
  --space-cadet: rgba(34, 46, 80, 1);
  --font: 'Raleway', sans-serif;
}

body {
  font-family: var(--font);
  line-height: 1.6;
  background-color: var(--ivory);
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Usa a altura total da viewport para garantir que o footer possa ficar no fundo */
}

/* Estilos universais para logos, ajustados com media queries */
.logo {
  height: 70px;

  @media (min-width: 2500px) {
    height: 120px;
  }
}

.container {
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Mantém sua cor de fundo */
}

/* Estilos para formulários e erros */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group,
.form-group-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.error {
  font-size: 0.6em;
  font-weight: 700;
  color: var(--penn-red);
}

/* Estilos de header e navigation links */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 20px;
  width: 100%;
}

.logo-container {
  width: 100%;
  /* Assegura que o logo ocupe a largura total no modo mobile */
  display: flex;
  justify-content: center;

}

.nav-container {
  width: 100%;
  /* Garante que o contêiner do menu ocupe a largura total */
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  /* Espalha os itens de forma uniforme */
  padding: 0;
  margin: 0;
  width: 100%;
}

.nav-links li.dropdown {
  flex: 1;
  text-align: center;
  position: relative;
  white-space: nowrap;
  padding: 10px 0;
  /* Adiciona padding vertical para melhorar o toque em dispositivos móveis */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
  left: 0;
  top: 100%;
}

.dropdown-content li {
  display: block;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Estilos do Footer */

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  background-color: var(--space-cadet);
  color: var(--ivory);
  font-weight: 700;
  font-size: 0.8em;
}

/* Ajuste de fontes */
@media (min-width: 768px) {
  body {
    font-size: 1em;
  }

  .header-container {
    flex-direction: row;
  }
}

@media (min-width: 992px) {
  body {
    font-size: 1.125em;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 1.25em;
  }
}

@media (min-width: 2500px) {
  body {
    font-size: 2em;
  }
}